li {
    opacity: 0.9;
    /* margin-left: 0.2em; */
    /* margin-right: 0.2em; */
}

.row {
    margin:0 !important;
    max-width: 100% !important;
}

.header {
		background-color: #008000 !important;
		font-weight: bold;
		color: #ffffff;
		display: block;
		padding: 1.25rem;
		font-size: .75rem;
		text-align: center;
		line-height: 1;
		margin-bottom: .5rem;
}

.comp-column {
    max-height: 100vh;
    flex:1;
    display: flex;
    flex-direction: column;
}

.tabs-panel {
    height: 100%;
}

.vsplit {
    display: flex;
    height: calc(100% - 60px);
    flex-direction: column;
}

.results {
    flex: 1;
    overflow-y: auto;
}

.performer, .album {
    font-size: smaller;
    font-style: italic;
}

.title {
    font-weight: bold;
}

.menu li {
    padding:0.4em;
}

.small-12 {
    padding: 0;
}

.tabs-panel {
    padding: 0;
}

.menu li:nth-child(odd) {
    background-color: #e6e6e6;
}

.menu li:nth-child(even) {
    background-color: #f6f6f6;
}


.button, button:focus {
    background-color: #008000;
}

#recent .eta {
    display: none;
}

.artist::after{
    content: " - ";
}

.button:hover, button:hover{
    background-color: #3b3b3b;
}

.tabs {
    border: none;
}

.tabs-title > a{
    color: #008000;
}

.tabs-title > a:hover {
    background-color: #444444;
    color: #FFFFFF;
}

.tabs-title > a:focus, .tabs-title > a[aria-selected="true"]{
    color: #FFFFFF;
    font-weight: bold;
    background-color: #008000;
}

div.tabs {
    display: flex;
}

.fright {
    float: right;
}

div.tabs .tabs-title {
    flex-grow: 1;
    text-align: center;
}

.tabs {
    margin-bottom: 0.1em;
    background-color: #3b3b3b;
}
